.taevo-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
    transition: ease-in 3s;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
    transition: ease-in 3s;
  }
  50% {
    filter: grayscale(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* IE */
@-ms-keyframes blink {
  0% {
    opacity: 1;
    transition: ease-in 3s;
  }
  50% {
    filter: grayscale(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Opera and prob css3 final iteration */
@keyframes blink {
  0% {
    opacity: 1;
    transition: ease-in 3s;
  }
  50% {
    filter: grayscale(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.taevo-spinner img {
  width: 31.89px;
  height: 32px;
  margin: auto;
  -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
  -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
  -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
  animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}
